asgiref==3.5.0
backports.zoneinfo==0.2.1
Brotli==1.0.9
cffi==1.15.0
cssselect2==0.4.1
Django==4.0.2
django-cors-headers==3.11.0
django-filter==21.1
djangorestframework==3.13.1
fonttools==4.29.1
fpdf==1.7.2
html5lib==1.1
importlib-metadata==4.11.0
Markdown==3.3.6
Pillow==9.0.1
pycparser==2.21
pydyf==0.1.2
PyPDF2==1.26.0
pyphen==0.12.0
pytz==2021.3
reportlab==3.6.7
six==1.16.0
sqlparse==0.4.2
tinycss2==1.1.1
weasyprint==54.1
webencodings==0.5.1
zipp==3.7.0
zopfli==0.1.9